<form class="form-row">
  <div class="form-group col-md-2">
    <label for="nombre" class="sr-only">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre"
    class="form-control"
    #nombreInput> 
  </div>

  <!-- [(ngModel)]="nombreInput"-->
  <div class="form-group col-md-2">
    <label for="apellido" class="sr-only">Apellido</label>
    <input type="text" name="apellido" id="nombre" placeholder="Apellido"
    class="form-control"
    #apellidoInput> 
    <!--[(ngModel)]="apellidoInput"-->
  </div>
  <div class="col">
    <button
    type="submit"
    class="btn btn-primary"
    (click)="onAgregarPersona()">Agregar</button>
  </div>
</form>